<%= render "shared/header" %>

  <div class="edit-main_wrapper">
    <div class="edit-second_wrapper">
        <%= form_with model: @tweet, local: true do |f| %>
            <div class="edit-title">
              質問or相談
              <span class="edit-mendatory">必須</span>
            </div>

            <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"質問や相談をご記入ください" ,rows:"7" ,maxlength:"1000" %>
            
            <div class="sell-btn-contents">
            <%= f.submit "更新" ,class:"sell-btn" %>
            </div>

            <div class="back-btn-main">
            <%=link_to 'もどる', tweet_path(@tweet.id), class:"back-btn" %>
            </div>
        <% end %>
      </div>
  </div>

<%= render "shared/footer" %>