<%= render "shared/header" %>

<div class="index-wrapper">

    <div class="index-second-wrapper">
    
      <%= image_tag("恋愛.jpg", class:"btn1", size: '300x300')%>
      <%= image_tag("健康.jpg", class:"btn1", size: '300x300') %>
     
     
      <%= image_tag("人間関係.jpg", class:"btn1", size: '300x300')%>
      <%= image_tag("その他.jpg", class:"btn1", size: '300x300') %>
    
    </div>

    <div class="text_bord">
      <div class="btn2">恋愛</div>
      <div class="btn2">健康</div>
      <div class="btn2">人間関係</div>
      <div class="btn2">その他</div>
    </div>
    
    <div class="post-main">
    <h1 class="post-title">ーー　新　着　投　稿　一　覧　ーー</h1>
    </div>
    
      <ul class="tweet_lists">
        <% @tweets.each do |text| %>
          <li class="tweet_list">
            <%= link_to text.text, tweet_path(text.id), class: :tweet_letter %>
            <%= link_to "ユーザー名[#{text.user.nickname}]　 カテゴリー[#{text.category.name}]", "#", class: :tweet_user %> 
          </li>
        <% end %>
      </ul>  
       
</div>

<%= render "shared/footer" %>




